<header>
    <div class="logo">
        <a href="http://localhost:4200/home">
                <h2>AUTO PARTS STORE</h2>
        </a>
    </div>

    <div class="nav-username-header" [class.user-visible]="user">
        <nav>
            <a href="https://www.linkedin.com/in/gustavono/">
                <img src="../../../assets/linkedin-logo-png-1829.png" alt="linkedin-logo">
            </a>
    
            <a href="https://github.com/gutvono">
                <img src="../../../assets/github-logo.png" alt="github-logo">
            </a>
        </nav>

        <p *ngIf="user">
            Olá, <a href="http://localhost:4200/profile">{{user}}</a> 
        </p>
        <button *ngIf="user" (click)="signOut()">x</button>
    </div>
</header>