<app-header></app-header>

<form [formGroup]="filterForm">
    <div>
        <label for="name">Nome da peça:</label>
        <input formControlName="name" (keyup)="applyFilter()" type="text" id="name">
    </div>

    <div>
        <label for="preice">Preço:</label>
        <input formControlName="maxPrice" (change)="applyFilter()" type="range" id="maxPrice" min="0" max="9999">
        <p>R${{maxPrice?.value?.toFixed(2)}}</p>
    </div>

    <button type="click" (click)="filterReset()">Resetar filtro</button>
</form>

<div class="categoryFilter">
    <p>Categorias</p>
    <button>Farol</button>
    <button>Injeção</button>
    <button>Interior</button>
    <button>Motor</button>
    <button>Suspensão</button>
</div>

<section class="all-auto-parts-cards">
    <div class="auto-part-card" *ngFor="let part of filteredAutoParts">
        <div class="card-header">
            <h4 class="partName">{{part.partName}}</h4>
            <p class="carName">{{part.carName}}</p>
            <p class="category">{{part.category}}</p>
        </div>

        <img src="{{part.image}}" alt="{{part.partName}}">

        <div class="card-footer">
            <p class="price">R${{part.price.toFixed(2)}}</p>
            <button>Comprar</button>
        </div>
    </div>
</section>

<app-footer></app-footer>