<app-header></app-header>

<form [formGroup]="filterForm" (ngSubmit)="applyFilter('')">
    <div>
        <label for="name">Nome da peça:</label>
        <input formControlName="name" type="text" id="name">
    </div>

    <div>
        <label for="preice">Preço:</label>
        <input formControlName="maxPrice" type="range" id="maxPrice" min="0" max="9999">
        <p>{{maxPrice?.value}}</p>
    </div>

    <button type="submit">Filtrar</button>
    <button type="click" (click)="filterReset()">Resetar filtro</button>
</form>

<div class="categoryFilter">
    <p>Categorias</p>
    <button (click)="applyFilter('Farol')">Farol</button>
    <button (click)="applyFilter('Injeção')">Injeção</button>
    <button (click)="applyFilter('Interior')">Interior</button>
    <button (click)="applyFilter('Motor')">Motor</button>
    <button (click)="applyFilter('Suspensão')">Suspensão</button>
</div>

<section class="all-auto-parts-cards">
    <div class="auto-part-card" *ngFor="let part of filteredAutoParts">
        <div class="card-header">
            <h4 class="partName">{{part.partName}}</h4>
            <p class="carName">{{part.carName}}</p>
            <p class="category">{{part.category}}</p>
        </div>

        <img src="{{part.image}}" alt="{{part.partName}}">

        <div class="card-footer">
            <p class="price">R${{part.price.toFixed(2)}}</p>
            <button>Comprar</button>
        </div>
    </div>
</section>

<app-footer></app-footer>