<app-header></app-header>

<h1>Marketplace</h1>

<form [formGroup]="filterForm">
    <div>
        <label>Nome da peça ou do carro:</label>
        <input formControlName="name" (keyup)="applyFilter()" type="text" id="name">
    </div>

    <div>
        <label>Preço:</label>
        <input formControlName="maxPrice" (change)="applyFilter()" type="range" id="maxPrice" min="0" max="9999">
        <p>R${{maxPrice?.value?.toFixed(2)}}</p>
    </div>

    <button type="click" (click)="filterReset()">Resetar filtro</button>
</form>

<div class="category-filter">
    <h3>Categorias:</h3>
    <div>
        <button (click)="applyCategoryFilter('Farol')">Farol</button>
        <button (click)="applyCategoryFilter('Injeção')">Injeção</button>
        <button (click)="applyCategoryFilter('Interior')">Interior</button>
        <button (click)="applyCategoryFilter('Motor')">Motor</button>
        <button (click)="applyCategoryFilter('Suspensão')">Suspensão</button>
    </div>
</div>

<section class="all-auto-parts-cards">
    <div class="auto-part-card" *ngFor="let part of filteredAutoParts">
        <div class="card-header">
            <h4 class="partName">{{part.partName}}</h4>
            <p class="carName">{{part.carName}}</p>
            <p class="category">{{part.category}}</p>
        </div>

        <img src="{{part.image}}" alt="{{part.partName}}">

        <div class="card-footer">
            <p class="price">R${{part.price.toFixed(2)}}</p>
            <button>Comprar</button>
        </div>
    </div>
</section>

<app-footer></app-footer>