<form [formGroup]="loginForm" (submit)="login()" autocomplete="on">
    <h1>Login</h1>

    <div class="form-control">
        <label>Usuario</label>
        <input formControlName="username" type="username" name="username" id="username_input" autocomplete="username" required>

        <div *ngIf="username.errors?.['required']" class="validation-errors">
            Informe o nome de usuário
        </div>

    </div>


    <div class="form-control">
        <label>Senha</label>
        <input formControlName="password" type="password" name="password" id="password_input" autocomplete="new-password">

        <div *ngIf="password.errors?.['required']" class="validation-errors">
            Informe a senha
        </div>

    </div>


    <button type="submit">Login</button>
</form>