<footer>
    <div class="footer-content">
        <div class="footer-contacts">
            <h1>
                AUTO <br>
                PARTS <br>
                STORE <br>
            </h1>
            <p>All you need is here.</p>
    
        </div>
        
        <div class="footer-social-media">
            <a href="">
                <img src="../../../assets/facebook.png" alt="instagram">
                <p>@autopartsofc</p>
            </a>
            <a href="">
                <img src="../../../assets/instagram.png" alt="facebook">
                <p>@autopartsofc</p>
            </a>
            <a href="">
                <img src="../../../assets/tik-tok.png" alt="tiktok">
                <p>@autopartsofc</p>
            </a>
        </div>
    
        <div class="footer-subscribe">
            <h3>Inscrever-se</h3>
            <p>Seja notificado sobre nossos <br>
             produtos e atualizações</p>
    
            <div class="footer-input-subscribe">
                <input type="email">
                <button>
                    <img src="../../../assets/envelope.png" alt="envelope">
                </button>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        &#169;
        2023 todos os direitos reservados
    </div>

</footer>